# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("PyCitySchools/Resources/schools_complete.csv")
student_data_to_load = Path("PyCitySchools/Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## District Summary

In [32]:
# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].nunique()
print(school_count)

15

In [33]:
# Calculate the total number of students
student_count = school_data['size'].sum()
print(student_count)

39170

In [34]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
print(total_budget)

24649428

In [35]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score
average_math_score

78.98537145774827

In [36]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [37]:
# Calculate the total number of unique types
type = school_data_complete['type'].nunique()
print(type)

2

In [38]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [39]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [40]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [41]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_rate}])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [102]:
# Use the code provided to select the type per school from school_data
unique_school_names = school_data_complete.set_index(['school_name'])['type']
print(unique_school_names)

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [103]:
# Calculate the total student count per school from school_data
school_counts = school_data_complete["school_name"].value_counts()

In [104]:
# Calculate the total school budget per school:
school_budget = school_data_complete.groupby(["school_name"])["budget"].mean()

# Calculate the per capita spending per school:
school_capita = school_budget / school_count
student_capita = school_capita / student_count

print(school_capita)

school_name
Bailey High School       208328.533333
Cabrera High School       72090.400000
Figueroa High School     125627.400000
Ford High School         117594.400000
Griffin High School       61166.666667
Hernandez High School    201468.000000
Holden High School        16539.133333
Huang High School        127375.666667
Johnson High School      206310.000000
Pena High School          39057.200000
Rodriguez High School    169824.200000
Shelton High School       70440.000000
Thomas High School        69542.000000
Wilson High School        87971.600000
Wright High School        69960.000000
Name: budget, dtype: float64

In [105]:
# Calculate Avg test scores
school_math = school_data_complete.groupby(["school_name"])["math_score"].mean()
school_reading = school_data_complete.groupby(["school_name"])["reading_score"].mean()

In [106]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
school_students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['student_name'].count()
print(school_students_passing_math)

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [107]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
school_students_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['student_name'].count()
print(school_students_passing_reading)

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [108]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
#school_students_passing_math_and_reading = school_students_passing_reading + school_students_passing_math

#school_students_passing_math_and_reading = school_students_passing_math_and_reading.groupby(["school_name"]).size()
#calculate the number of students per school that passed both math and reading with scores of 70 or higher
school_students_passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
school_students_passing_math_and_reading
overall_passing_rate = school_students_passing_math_and_reading.groupby(["school_name"]).size()
overall_passing_rate

print(overall_passing_rate)

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [81]:
# Use the provided code to calculate the passing rates
#school_passing_math = school_students_passing_math / school_counts * 100
#school_passing_reading = school_students_passing_reading / school_counts * 100
#overall_passing_rate = school_students_passing_math_and_reading / student_count * 100


# Calculate the passing rates
percentage_passing_math = school_students_passing_math.groupby(["school_name"]).count() / school_count * 100
print(percentage_passing_math.head(3))
percentage_passing_reading = school_students_passing_reading.groupby(["school_name"]).count() / school_count * 100
print(percentage_passing_reading.head(3))
overall_passing_rate = school_students_passing_math_and_reading.groupby(["school_name"]).count() / school_count * 100
print(overall_passing_rate.head(3))

school_name
Bailey High School      6.666667
Cabrera High School     6.666667
Figueroa High School    6.666667
Name: student_name, dtype: float64
school_name
Bailey High School      6.666667
Cabrera High School     6.666667
Figueroa High School    6.666667
Name: student_name, dtype: float64
                        Student ID  student_name        gender         grade  \
school_name
Bailey High School    18126.666667  18126.666667  18126.666667  18126.666667
Cabrera High School   11313.333333  11313.333333  11313.333333  11313.333333
Figueroa High School  10460.000000  10460.000000  10460.000000  10460.000000

                      reading_score    math_score     School ID          type  \
school_name
Bailey High School     18126.666667  18126.666667  18126.666667  18126.666667
Cabrera High School    11313.333333  11313.333333  11313.333333  11313.333333
Figueroa High School   10460.000000  10460.000000  10460.000000  10460.000000

                              size        budget
school_name
Bailey High School    18126.666667  18126.666667
Cabrera High School   11313.333333  11313.333333
Figueroa High School  10460.000000  10460.000000

In [115]:
# Create a DataFrame called per_school_summary with columns for the calculations above
school_summary = pd.DataFrame(
    [{"School Types":type,
    "Total Students":student_count,
    "Total School Budget":school_budget,
    "Per Student Budget":school_capita,
    "Average Math Score":school_math,
    "Average Reading Score":school_reading,
    "% Passing Math":percentage_passing_math,
    "% Passing Reading":percentage_passing_reading,
    "% Overall Passing":overall_passing_rate}])

# Formatting the budget columns
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:.2f}".format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:.2f}".format)

# Display the DataFrame
school_summary

TypeError: unsupported format string passed to Series.__format__

## Highest-Performing Schools (by % Overall Passing)

In [111]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = school_summary.sort_values(["% Overall Passing"],ascending = False)
top_schools.head(5)

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,2,39170,school_name Bailey High School 3124928.0...,school_name Bailey High School 208328.53...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 6.666667 ...,school_name Bailey High School 6.666667 ...,school_name Bailey High School 2719 Cabr...

## Bottom Performing Schools (By % Overall Passing)

In [113]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools =per_school_summary.sort_values(["% Overall Passing"],ascending = True)
bottom_schools.head(5)
school_math = school_data_complete.groupby(["school_name"])["math_score"].mean()
school_reading = school_data_complete.groupby(["school_name"])["reading_score"].mean()

## Math Scores by Grade

In [114]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of math scores for each grade
    # Note: There is no overall scores so selecting math scores directly for calculation
#ninth_graders_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
#tenth_graders_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
#eleventh_graders_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
#twelfth_graders_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame ({"9th" : ninth_graders_math_scores, 
                                      "10th" : tenth_graders_math_scores,
                                      "11th" : eleventh_graders_math_scores,
                                      "12th" : twelfth_graders_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

NameError: name 'ninth_graders_math_scores' is not defined

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of reading scores for each grade
    # Note: There is no overall scores so selecting reading scores directly for calculation
#ninth_graders_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
#tenth_graders_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
#eleventh_graders_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
#twelfth_graders_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame ({"9th" : ninth_graders_reading_scores, 
                                      "10th" : tenth_graders_reading_scores,
                                      "11th" : eleventh_graders_reading_scores,
                                      "12th" : twelfth_graders_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [116]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [117]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

In [119]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], 
                                                                                spending_bins, labels=spending_labels)
school_spending_df.head(3)

NameError: name 'spending_labels' is not defined

In [120]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

TypeError: agg function failed [how->mean,dtype->object]

In [121]:
# Assemble into DataFrame using the binned and average spending data
spending_summary = reading_scores_by_grade = pd.DataFrame ({"Average Math Score" : spending_math_scores, 
                                                            "Average Reading Score" : spending_reading_scores,
                                                            "% Passing Math" : spending_passing_math,
                                                            "% Passing Reading" : spending_passing_reading,
                                                            "% Overall Passing" : overall_passing_spending})

# Display results
spending_summary

SyntaxError: invalid syntax (2206335157.py, line 2)

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame
school_size_df["School Size"] = pd.cut(school_size_df["Total Students"], size_bins, labels=size_labels)
school_size_df.head(3)

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame using the binned and averaged size data
size_summary = pd.DataFrame ({"Average Math Score" : size_math_scores, 
                              "Average Reading Score" : size_reading_scores,
                              "% Passing Math" : size_passing_math,
                              "% Passing Reading" : size_passing_reading,
                              "% Overall Passing" : size_overall_passing})

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary` using the new column data
type_summary = pd.DataFrame ({"Average Math Score" : average_math_score_by_type, 
                              "Average Reading Score" : average_reading_score_by_type,
                              "% Passing Math" : average_percent_passing_math_by_type,
                              "% Passing Reading" : average_percent_passing_reading_by_type,
                              "% Overall Passing" : average_percent_overall_passing_by_type})

# Display results
type_summary